/* Remove Context Menu Entries */
#context-back, #context-take-screenshot, #context-forward, #context-reload, #context-stop, #context-bookmarkpage, #context-savepage, #context-pocket, #screenshots_mozilla_org_create-screenshot, #context-inspect, #context-sep-selectall, #context-selectall, #context-copylink, #context-copy, #context-viewsource, #context-viewinfo, #context-print-selection, #context-viewpartialsource-selection, #context-inspect-a11y, #context-openlinkintab, #context-openlink, #context-openlinkprivate, #context-bookmarklink, #context-savelink, #context-savelinktopocket, #context-copyimage-contents, #context-copyimage, #context-sendimage {
    display: none !important
}

#statuspanel[type="overLink"] {opacity: 0 !important;}
#statuspanel {opacity: 0 !important;}
#statuspanel {display:none!important}
#statuspanel-label { display: none !important; }

/* #navigator-toolbox {
    position: fixed;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
} */

/* #nav-bar {
    height: 0 !important;
    opacity: 0 !important;
} */

/* #PersonalToolbar {
    opacity: 0 !important;
} */

/*#navigator-toolbox-background {
    height: 0 !important;
    opacity: 0 !important;
} */

/* Hide the tab bar, even if multiple tabs are open */
/*#TabsToolbar {
    visibility: collapse !important;
}*/

/* Hide sidebar */
#sidebar-box {
    visibility: collapse !important;
}

/* Hide bottom status/ui bar */
#status-bar {
    visibility: collapse !important;
}

scrollbar {
    -moz-appearance: none !important;
    display: none !important;
    width: 0px !important;
    background-color: transparent !important;
}

scrollcorner {
    -moz-appearance: none !important;
    display: none !important;
}

*[id*="sep"], *[class*="sep"] {
    display: none !important;
