configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "Roboto Flex 11";
  kb-row-select: "Tab";
  kb-element-next: "Control+space";
}
@theme "/home/emre/.local/share/rofi/themes/my_theme.rasi"
