*{
    font-family: "JetBrains Mono";
}

label { font-size: 10px; }

window {
    border-radius: 5px 5px 5px 5px;
}

#input {
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid black;
    background-color: #1A1826;
    color: white;
}

#inner-box {
    margin: 0px;
    background-color: #161320;
}

#outer-box {
    margin: 0px;
    padding:0px;
    background-color: #161320;
    border-radius: 5px 5px 5px 5px;
}

#scroll {

}

#text {
    margin: 0px;
    color: #ABE9B3;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

/* #entry:nth-child(even){
    background-color: #404552;
} */

#entry:selected {
    background-color: #1A1826;
}

#text:selected {
    text-decoration-color: white;
}
